<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\IBM\ACE\13.0.5.0\common\java17\bin\java.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Users\jf49313\git\f\SmartACEers-Salini-206218\automation"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-cp bin com.flowsmith.automation.ACEDeployer --subsys ${string_prompt:Subsystem code SUBSYS (UPPERCASE):XAJ} --app ${string_prompt:Application code APPNM:TLMTF} --func ${string_prompt:Functionality FUNCNM:FINANCING} --ndm ${string_prompt:NDM name (type NONE if unused):NONE} --qmgr ${string_prompt:Queue Manager name:MB8QMGR} --node ${string_prompt:Integration Node name:Test_node_test} --server ${string_prompt:Integration Server name:default} --jar &quot;C:\Users\jf49313\git\f\SmartACEers-Salini-206218\flowsmith-java\flowsmith.jar&quot;"/>
</launchConfiguration>
