<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\IBM\ACE\13.0.5.0\common\java17\bin\java.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Users\jf49313\git\f\SmartACEers-Salini-206218\flowsmith-java"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-jar &quot;C:\Users\jf49313\git\f\SmartACEers-Salini-206218\flowsmith-java\flowsmith.jar&quot; filetest --project ${string_prompt:Application name (generated project folder):XAJ_PTP_TLMTF_FINANCING_FIL} --timeout ${string_prompt:Seconds to wait for output:30}"/>
</launchConfiguration>
